* {
   box-sizing: border-box;
}
body { background-color: #ffffff;
      color: #666666;
        font-family: Verdana, Arial, sans-serif;
        background-image: linear-gradient(to bottom, #eeeeee, #FFFFFF);
        background-attachment: fixed;
        margin: 0;
}
header { background-color: #0D3B66 ;
    background-attachment: fixed; font-family: Georgia ;
     color:#FFFFFF ; padding: 0.5rem 1rem ;
    grid-row: 1/ 2;
    grid-column: 2 / -2; }
header h1 
{ margin: 0 ; font-size: 2em; line-height: 140% ; padding-left: 1em ;
     background-image: url(utahtechlogo.svg) ;
     background-position: right ;
     background-repeat: no-repeat ;
     background-origin: content-box ;
     margin-bottom: 0 ; 
    text-decoration: none;
   color: #FFFFFF;  }
nav { font-weight: bold ; background-color: #F3F3F3 ;
     padding: 0.5rem 0.5rem 0.5rem 2rem; 
    grid-row: 2 / 3;
grid-column: 2 / -2; }
nav a { text-decoration: none ; color: blue ; }
h2 { color: #424242 ; font-family: Georgia }
h3 { color: #003058}
main { padding-left: 2rem ; padding-right: 2rem;
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    background-color: #ffffff; }
dt { color: #003058 ; font-weight: bold }
.ut { color: #BA1C21 ; font-weight: bold }
footer { font-size: .70rem ; text-align: center ; padding: 1rem ;
    grid-row: 5 / 6;
    grid-column: 2 / -2; }
#wrapper {
   display: grid;
   grid-auto-rows: minmax(0px, auto);
   grid-template-columns: minmax(0px, 1fr)
    repeat(6, minmax(0, 175px))
     minmax(0px, 1fr);     }
header {
  background-color: #003058 ;
  color: #FFFFFF ;
  padding: 0.5rem ;
}

h1 {
  background-image: url('utahtechlogo.svg') ;
  background-position: right ;
  background-repeat: no-repeat ;
  background-origin: content-box ;
  padding-left: 1em ;
  margin: 0 ;
}
#homehero { height: 300px ;
    background-image: url('homehero.jpg') ;
    background-size: cover ;
    background-repeat: no-repeat ; 
    background-position: center ;
    grid-row: 3 / 4;
    grid-column: 2 / -2; }

#studenthero { height: 300px ;
    background-image: url('studenthero.jpg') ;
    background-size: cover ;
    background-repeat: no-repeat ; 
    background-position: center ; 
    grid-row: 3 / 4;
    grid-column: 2 / -2;}

#facultyhero { height: 300px ;
    background-image: url('facultyhero.jpg') ;
    background-size: cover ;
    background-repeat: no-repeat ; 
    background-position: center ;
    grid-row: 3 / 4;
    grid-column: 2 / -2; }
    
#students { height: 300px ;
    background-image: url('students.jpg') ;
    background-size: cover ;
    background-repeat: no-repeat ; 
    background-position: center ; 
    grid-row: 3 / 4;
    grid-column: 2 / -2;}

main img {
   float: right;
   padding-left: 2rem;}
/* multiple faculty images were shown, so I added this code with the help of google*/
img[src*="facultyhero"] { display: none !important; }