.grid {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    gap: 20px;
    position: relative;
    z-index: 2; 
    min-height: 100vh;
}

body {
    margin: 0;
    background-image: url('bow background.jpg'); /* Keep only bow */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    position: relative;  
    min-height: 100vh;
}

.lace-container {
    background-image: url('lace.jpg');
    background-size: cover; 
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment:fixed; 
    min-height: 100vh;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}



header {
    grid-column: 1 / 9;
    background-color: rgba(185, 154, 200, 0);
    height: 120px;
}
.nav-tabs {
    list-style: none;
    text-align: center;
    display: flex;
    gap: 20px;
    font-family: monospace;
    font-size: 16px;
}

.nav-tabs li {
    display: inline;
}

.nav-tabs a {
    text-decoration: none;
    color: #53412f;
}
main.art {
    grid-column: 2 / 8;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
}


.main-title {
  font: 1em monospace;
    font-size: 48px; 
    font-weight: thin;
    color: #282019; 
    text-align: center;
    margin: 0 0 20px 0;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.5); 
}


.art-piece-1{
    width: 100%;
    margin: 20px 0;
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
    border-radius: 8px;}

.art-piece-2 {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.text-block {
    padding: 25px;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 16px;
    color: #1b150f;
}


.nav-tabs {
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: monospace;
    font-size: 16px;
}

.nav-tabs li {
    display: inline;
}

.nav-tabs a {
    text-decoration: none;
    color: #53412f;
}
footer {
    grid-column: 1 / 9;
    background-color: rgba(185, 154, 200, 0);
    height: 100px;
}