.grid {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    gap: 20px;
    position: relative;
    z-index: 2; 
    min-height: 100vh;
    top: 100vh;
}

body {
    margin: 0;
    background-image: "background2.jpg";
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
}

/* Center the card */
.about-container {
    display: flex;
    max-width: 900px;
    margin: 80px auto;
    background-color: white;
    border-radius: 20px;
    overflow: hidden; /* keeps image rounded */
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.text-section {
    width: 50%;
    padding: 40px;
}

.text-section h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 16px;
    line-height: 1.6;
}

.image-section {
    width: 50%;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    grid-column: 1 / 9;
    background-color: rgba(185, 154, 200, 0);
    height: 120px;}

.main-title {
    font: 1em monospace;
    font-size: 70px; 
    font-weight: thin;
    color: #282019; 
    text-align: center;
    margin: 0 0 20px 0;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.5); }
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 10px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;}
.nav-tabs {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: monospace;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.nav-tabs li {
    display: inline;}

.nav-tabs a {
    text-decoration: none;
    color: #53412f;
    padding: 10px 20px;
    transition: background 0.3s;
}

.nav-tabs a:hover {
    text-decoration: none;
    color: #53412f;
    background: lightgrey;
}



footer {
    grid-column: 1 / 9;
    background-color: rgba(185, 154, 200, 0);
    height: 100px;}
@media (max-width: 992px) {
.side-image {
  max-width: 100%;
  height: auto;}
  body {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;}
  .grid {
    grid-template-columns: 1fr minmax(0, 768px) 1fr;}}
    
@media (max-width: 768px) {
.side-image {
  max-width: 100%;
  height: auto;}
  body {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;}
  header,nav,.photos,footer {grid-column: 1 / -1;}}

