body { background-color: #FFFFFF ; font-family: Arial, Helvetica, sans-serif; ; color:#666666 ; }
header { background: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed; font-family: Georgia ; color:#FFFFFF }
h1 { line-height: 140% ; padding-left: 1em ; background-image: url(utahtechlogo.svg) ;
     background-position: right ;
     background-repeat: no-repeat ;
     background-origin: content-box ;
     margin-bottom: 0 ;   }
nav { font-weight: bold ; background-color: #F3F3F3 }
h2 { color: #424242 ; font-family: Georgia }
dt { color: #003058 ; font-weight: bold }
.ut { color: #BA1C21 ; font-weight: bold }
footer { font-size: .70rem ; text-align: center }
#wrapper { width: 80% ; margin-right: auto ; margin-left: auto; background-color: #ffffff ; min-width: 960px ; max-width: 2048px ; box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3); }